$mat-green = #69D7AE
$mat-gree-hover = #6980AE

.container 
	position relative
	display block
	width 100%
	min-height 100%
	background linear-gradient(to bottom, rgba(#333, 1), white)
	padding-top 100px
	
.table-container 
	width 90%
	margin 0 auto
	position relative
	max-height 720px
	overflow auto
table 
	width 100%
.loading-shade 
	position absolute
	top 0
	left 0
	bottom 56px
	right 0
	background rgba(0, 0, 0, 0.15)
	z-index 1
	display flex
	align-items center
	justify-content center
	
.mat-column-number,
.mat-column-state 
	max-width 64px
.mat-column-created 
	max-width 124px