$mat-green = #69D7AE
$mat-gree-hover = #6980AE

#dashboard
	display block
	width 100%
	min-height 100%
	background linear-gradient(to bottom, rgba(#333, 1), white)
	padding-top 80px
	
.container 
	position relative
	min-height 200px
	width 90%
	margin 10px auto
.table-container 
	position relative
	max-height 600px
	overflow auto
table 
	width 100%
.loading-shade 
	position absolute
	top 0
	left 0
	bottom 56px
	right 0
	background rgba(0, 0, 0, 0.15)
	z-index 1
	display flex
	align-items center
	justify-content center
	
.mat-column-number,
.mat-column-state 
	max-width 64px
.mat-column-created 
	max-width 124px

#stats
	display block
	width 100%
	padding 0 5% 30px 5%
	
	> *
		width 100%
		
	> h1
		font-size 1.8em
		font-weight 600
		color white
		display block
		margin-bottom 20px
		
	> div
		display flex
		flex-flow row nowrap
		align-items flex-start
		justify-content space-between
		padding 8px 0
		
		&:first-of-type
			margin-bottom 15px
			border-bottom 1px solid rgba(white, 0.15)
		
		> .cell
			flex 1 1 25%
			
			> span
				display block
				font-weight 600
				
				&:first-of-type
					color $mat-green
					font-size 0.74em
					text-transform uppercase
					margin-bottom 5px
					
				&:last-of-type
					color white
					font-size 0.9em
				
				