/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap')
@require "assets/styles/reset.styl"

*
    box-sizing border-box
    
body, 
html
    width 100%
    margin 0
    padding 0
    border none
    overflow-x hidden
    -webkit-font-smoothing antialiased
    -o-font-smoothing antialiased
    -moz-font-smoothing antialiased
    text-rendering optimizeLegibility
    -moz-osx-font-smoothing grayscale
    font-family 'Open Sans', sans-serif
    font-size 100%
    font-weight 400
    
input, select, textarea, button
    outline none
    
a
    text-decoration none